html {
    font-size: 10px;
    font-family: 'Playfair Display';
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #0039ff 100%);    
      }
  
  
  h1 {
    font-size: 60px;
    text-align: center;
    color: #24458d
  }

  h2 {
    font-size: 15px;
    text-align: center;
    color: #24458d
  }
  
  p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  body {
    width: 650px;
    margin: 0 auto;
    background-color: #e98848;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }

   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 23%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

  .button {
    background-color: #2d64da; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  nav{
    width: 35%;
    /*margin: 0 auto;*/
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 100%;
    font-size: 12 px;
    text-align: left;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
} 